@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Josefin+Slab:wght@400;700&display=swap');

:root {
  --white: #FFF;
  --lightest: #f0f0f0;
  --not-so-light: #d4d4d4;
  --mid-grey: rgb(131, 131, 131);
  --slightly-dark: rgb(53, 53, 53);
  --darkest: #272727;
  --almost-black: #111111;
  --black: #000;
}

/* Color Themes */
/**
* light = light background and fill with dark text and dark accent
* dark = dark backgroundsand fill with light text and light accents
*/

.light {
  background: white;
  color: var(--darkest);
}

.light-dim {
  background: var(--lightest);
  fill: var(--lightest);
}

.dark {
  color: white;
  background: var(--darkest);

}

.dark-dim {
  background-color: var(--slightly-dark);
}

.light-fill {
  fill: var(--darkest);
}

.dark-fill {
  fill: var(--lightest);
}

.light-bg {
  background: var(--white);
}

.dark-bg {
  background: var(--darkest);
}

.light-btn {
  background: #F7F7F7;
  border: 1px solid var(--darkest);
}

.dark-btn {
  background: var(--darkest);
  border: 1px solid var(--lightest);
}

.light-dim-bg {
  background: var(--lightest);
}

.dark-dim-bg {
  background: var(--almost-black);
}

.grey-bg {
  background: var(--mid-grey);
}

.black-bg {
  background: var(--black);
}

.accent-light {
  background: var(--mid-grey);
}

.accent-dark {
  background: var(--lightest);
}

.dark-text {
  color: var(--white);
}

.dark-subtext {
  color: var(--lightest);
}

.light-text {
  color: var(--black);
}

.light-subtext {
  color: var(--darkest)
}

.dark-border-bottom {
  border-bottom: 1px solid var(--lightest);
}

.dark-border-bottom :nth-of-type() {
  border: none;
}

.light-border-bottom {
  border-bottom: 1px solid var(--darkest);
}

.light-border-bottom :nth-of-type() {
  border: none;
}

.error-light {
  color: var(--darkest);
  border: 1px double var(--darkest);
}

.error-dark {
  color: var(--lightest);
  border: 1px double var(--lightest);
}



h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.2em;
  font-weight: 700
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-family: "Josefin Slab", serif;
  font-size: 1.2em;
  font-weight: 700;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-flow: column;
}

/* Header.js */
nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.brand {
  margin-left: 35px;
}

.brand h2 {
  font-size: 18px;
  font-weight: 900;
}

.switch { 
  margin-top: -15px;
  line-height: 0px;
}

.switch-bar {
  width: 40px;
  height: 10px;
  border-radius: 20px;
}

.fa-random span{
  font-family: "Josefin Sans", sans-serif;
  margin-left: 5px;
}

/* Quote.js */

main {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}

.error {
  text-align: center;
  margin: 20px 37px;
  padding: 10px;
}
.quote {
  height: 85%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

.genre {
  text-decoration: underline;
  text-align: right;
  width: 100%;
}

.quote-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

.strip {
    min-height: 100px;
    width: 10px;
    margin-right: 15px;
}

/* Author Summary */
.author-summary {
  height: 15%;
  display: flex;
  justify-content: center;
}

.author-summary .text {
    margin: 0 auto;
    width: 100%;
    display: inline;
    line-height: 1px;
}

.author-summary .container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Modal.js */

.backdrop {
  background: rgba(0,0,0,0.75);
}

.modal-wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  top: 0;
  z-index: 1;
}

.modal{
  height: 100%;
  width: 75%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
}

.site-footer p{
  text-align: center;
}

/* Loader */
.loader {
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loading{
  height: 100vh;
}

.loading .container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 414px) {
  .App {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .quote {
    height: 95%;
  }

  .author-summary {
    height: 15%;
    display: flex;
    justify-content: center;
  }

  .author-summary .text {
    line-height: 5px;
  }

  nav{
    height: 10vh;
  }

  main {
    height: 85vh;
  }
  footer {
    height: 5vh;
  }
} 

@media screen and (max-width: 414px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 540px) {
  body {
    font-size: 10px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 34px;
  }
}

@media screen and (max-height: 500px) {
  main{ 
    height: 81vh;
  }
}

@media screen and (max-width: 224px ) {
  body{ 
    font-size: 10px;
  }

  main {
    height: 82vh;
  }

  .author-summary .container {
      width: 50%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .quote {
      height: 85%;
      max-width: 70%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      align-content: center;
      justify-content: center;
  }
  
  .author-summary {
      height: 15%;
  }
}